.container-fluid {
    justify-content: space-between;

}

.row1 {
    justify-content: space-between;
    margin-top: 60px;
}

/* div {
    border: 1px solid;
} */
/* .card-deck1 {
    justify-content:space-between;
} */

.card-img-top {
    width: 344px;
    height: 200px;
}

.productsHeader {
    font-size: 90px;
    text-align: center;
}

.prodHead {
    display: inline-block;
}

.card {
    flex: wrap;
    text-align: center;
    vertical-align: middle;
}

.card-text {
    flex: wrap;
}

/* .card-img-top {
    margin-left:20px;
} */

.card-title {
    font-size: 25px;
}